# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
+ Undordered List
+ Headings
+ Arithmetic
+ Undordered Lists

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3.

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|Git|
|Eclipse|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [7]:
#his will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author

Botle Macha